* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Nunito Sans', sans-serif; */
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.menu {
    padding: 20px 0;
    z-index: 1;
    width: 100%;
}

.menu nav img {
    width: 100%;
}

.menu nav ul li {
    padding: 10px 20px;
}

.menu nav ul li a {
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

/* .menu nav .nav-item.active {
    color: black !important;
    background-color: red;
} */

.menu nav ul li .dropdown-menu a {
    color: rgb(0, 0, 0);
}

.menu nav ul li .contact_btn {
    background-color: #6270a7;
    color: rgb(255, 255, 255);
    padding: 10px 22px;
    border-radius: 25px;
    white-space: nowrap;
}

/* ------------------------------------------------------
--------- Banner Css Starts from here- ------------------
------------------------------------------------------ */

.banner .content {
    background-image: url(../images/banner/biostealth_12.gif);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.banner {
    width: 100%;
}

.banner .content h2 {
    padding: 325px 0;
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
}

.banner .content h2 span {
    background: #e9fbe6;
    color: #5b67b2;
    padding: 0 10px;
}

/* ------------------------------------------------------
--------- live data sectiojn Css Starts from here- ------
------------------------------------------------------ */

.live {
    width: 100%;
    background-image: url(../images/live/live\ bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
}

.live .rotating-shape {
    position: absolute;
    top: -100px;
    left: 100px;
}

.live .rotating-shape img {
    /* Apply animation */
    animation: rotateAnimation 5s linear infinite;
    width: 100%;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
        /* Start position */
    }

    100% {
        transform: rotate(360deg);
        /* End position */
    }
}

.live .main {
    padding: 120px 0;

}

.live .main .one span {
    font-size: 35px;
}

.live .main h2 {
    font-size: 150px;
    color: #5a67b2;
    font-weight: bold;
}

.live .main h4 {
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

.live .main h5 {
    font-size: 28px;
    font-weight: 300;
}

.live .main p {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    padding: 70px 0px;
    text-align: center;
}

.live .main h4 span {
    color: rgb(217, 142, 4);
    font-size: 40px;
    font-weight: 500;
    font-family: cursive;
    font-style: italic;
}


/* ------------------------------------------------------
--------- touchable sectiojn Css Starts from here- ------
------------------------------------------------------ */


.touchable {
    background-image: url(../images/touchable/touchable.webp);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.touchable .content {
    padding: 200px 0;
}

.touchable .touchable_image img {
    width: 100%;
}

.touchable .content p {
    font-size: 22px;
    padding: 15px 0;
}

/* ------------------------------------------------------
--------- usability sectiojn Css Starts from here- ------
------------------------------------------------------ */

.usability {
    /* background-color: #AEB3D2; */
    /* background: linear-gradient(90deg, #A7ADCF 0%, #D6D8E8 100%); */
    padding: 150px 0 80px 0;
}

.usability .main {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

/* .usability .main .left {
    width: 950px;
} */
.usability .main .right {
    width: 40%;
}

.usability .usability_content h2 {
    font-size: 125px;
    color: #5a67b2;
}


.usability .usability_content p {
    font-size: 32px;
    font-weight: 400;
    background: #e9fae7;
    padding: 20px;
    color: black;
}

.usability .usability_bottom {
    background-color: #5a67b2;
    margin-right: 20%;
    padding: 20px 0;
    border-radius: 0 60px 60px 0px;
    margin-top: 150px;
}

.usability .usability_bottom h3 {
    font-style: italic;
    color: white;
    padding-left: 160px;
    font-size: 55px;
}

/* ------------------------------------------------------
--------- usability2 sectiojn Css Starts from here- ------
------------------------------------------------------ */

.usability2 {
    /* background-color: #AEB3D2; */
    /* background: linear-gradient(90deg, #A7ADCF 0%, #D6D8E8 100%); */
    padding: 80px 0 150px 0;
}

.usability2 .main {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.usability2 .main .right {
    width: 40%;
}

.usability2 .usability_content h2 {
    font-size: 130px;
    color: #5a67b2;
    font-weight: bold;
}

.usability2 .usability_content .parent {
    position: relative;
}

.usability2 .usability_content .ext {
    position: absolute;
    left: 77%;
    top: -25px;
    text-align: right;
    font-size: 30px;
}

.usability2 .usability_content span {
    color: rgb(89 103 178);
    font-size: 80px;
    font-weight: 600;
}


.usability2 .usability_content p {
    font-size: 33px;
    font-weight: 400;
    text-align: right;
    background: #e9fae7;
    padding: 20px;
    color: black;
}

.usability2 .usability_content p span {
    font-size: 42px;
    font-style: italic;
    color: black;
}

.usability2 .usability_bottom {
    background-color: #5a67b2;
    margin-left: 20%;
    padding: 20px 0;
    border-radius: 60px 0px 0px 60px;
    margin-top: 150px;
}

.usability2 .usability_bottom h3 {
    font-style: italic;
    color: white;
    font-size: 60px;
}

/* ------------------------------------------------------
--------- comited sectiojn Css Starts from here- ------
------------------------------------------------------ */


.commited {
    background-image: url(../images/Competitive\ proposition.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    background-attachment: fixed;
}

.commited .contents {
    margin: 50px 0;
}

.commited .one h3 {
    font-size: 35px;
    font-weight: 400;
    padding: 0 10px 40px 10px;
}

.commited .one h3 span {
    color: #5a67b2;
    font-weight: 600;
}

.commited .main .two {
    padding: 25px 10px;
    background: #5967b2c4;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.commited .main .two h4 {
    font-size: 30px;
}

.commited .main .two p {
    font-weight: 200;
    padding-top: 30px;
}

.commited .main .two i {
    background: #e9fbe6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 30px;
    border-radius: 50%;
    margin-top: 40px;
    color: #9ea5d0;
}

/* ------------------------------------------------------
--------- partners sectiojn Css Starts from here- ------
------------------------------------------------------ */


.partners {
    padding: 150px 0;
}

.partners h2 {
    font-size: 59px;
    font-weight: 400;
    color: #3d3d3d;
    text-align: center;
    padding: 0px 0 100px 0;
}


/* ------------------------------------------------------
--------- updates section Css Starts from here- ------
------------------------------------------------------ */


#recent_update {
    background: #e9fae5;
    padding: 130px 0;
    position: relative;
}

#recent_update h2 {
    color: #3d3d3d;
    padding-bottom: 35px;
    font-size: 59px;
}

#recent_update .recent_slider {
    width: 80%;
    margin: 0px auto;
}

#recent_update .slick-slide {
    margin: 0px 15px;
}

#recent_update .recent_slide_item {
    background: #5463b7;
    padding: 45px;
    border-radius: 12px;
}

#recent_update .recent_slide_item p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

#recent_update .recent_slide_item p.date {
    color: white;
    font-size: 25px;
}

#recent_update .recent_slide_item hr {
    height: 1px;
    background: yellow;
    margin: 5px 0px;
}

#recent_update .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    bottom: -40px;
}

#recent_update .slick-dots li {
    padding: 0px 15px;
}

#recent_update .slick-dots li button {
    font-size: 0px;
    height: 10px;
    width: 10px;
    background: #5463b7;
    border-radius: 50%;
    border: 1px solid #5463b7;
}

#recent_update .slick-dots li.slick-active button {
    font-size: 0px;
    background: white;
    border-radius: 50%;
    border: 1px solid #5463b7;
}

/* ------------------------------------------------------
--------- updates section Css Starts from here- ------
------------------------------------------------------ */


.footer {
    padding: 70px 0px 300px 0;
    background-color: #5E6AA7;
}

.footer h6 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
}

.footer .mark2 {
    width: 100%;
    height: 3px;
    background-color: white;
}

.footer .links {
    padding-top: 100px;
}

.footer .links ul li {
    font-size: 24px;
    color: white;
    padding-bottom: 12px;
}

.footer .links ul li .icon {
    height: 50px;
    width: 50px;
    background: white;
    color: #5e6aa7;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 80px;
}

.footer .links ul li a {
    color: white;
    transition: all linear 0.4s;
    font-size: 22px;
}

.footer .links ul li a:hover {
    color: rgb(217, 142, 4);
}

/* ------------------------------------------------------
--------- avout page Css Starts from here- --------------
------------------------------------------------------ */


/* ------------------------------------------------------
--------- avout banner section Css Starts from here- ----
------------------------------------------------------ */




.about_banner {
    /* background: linear-gradient(90deg, #646FAA 0%, #BCC1DB 100%); */
    width: 100%;
    height: 650px;

    background-image: url(../images/Team\ pic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about_banner .banner_mark h2 {
    color: #6170a7;
    font-size: 65px;
    position: relative;
}

.about_banner .banner_mark h2::before {
    content: '';
    position: absolute;
    width: 147px;
    transform: translateX(40%);
    border: 3px solid #e9fbe6;
    top: 95px;
}





/* ------------------------------------------------------
--------- about_founder section Css Starts from here- ----
------------------------------------------------------ */

.about_founder {
    width: 100%;
}

.about_founder .content {
    background-image: url(../images/about/bg.webp);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 150px 50px;
}

.about_founder .container p {
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}



/*  ============================
        core team part start
   ===============================*/
#index-team {
    padding-top: 68px;
    padding-bottom: 112px;
}

#index-team .head h3 {
    padding-bottom: 50px;
    color: #5b67b2;
    font-size: 60px;
}

#index-team .team-header p {
    padding-left: 40px;
    padding-bottom: 68px;
}

#index-team .team-member-slider .memberImages {
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
    transition: all linear 0.4s;
}

#index-team .team-member-slider .memberImages:hover {
    background: #f2f3f5;
    border-radius: 6px
}



#index-team .team-member-slider .memberImages .member-img {
    position: relative;
    border-radius: 7px;
    text-align: center;
    /* margin: 100px 25px 0px 25px */
    padding: 50px 10px;
}

#index-team .team-member-slider .memberImages .member-img img {
    height: auto;
    width: 120px;
    border-radius: 50%;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content {
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    white-space: nowrap;
    text-align: center;
    border-radius: 7px;
    transition: all linear 0.1s;
    color: #5a67b2;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content h3 {
    color: #5a67b2;
    padding-bottom: 20;
    font-style: normal;
    white-space: normal;
    font-size: 26px;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content h4 {
    padding-bottom: 20px;
    color: #5a67b2;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content p {
    color: #5a67b2;
    text-align: center;
    white-space: normal;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content:hover {
    opacity: 1;
    transition: all linear 0.3s;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content h4 {
    font-size: 21px;
    padding-top: 10px;
    font-weight: 500;
    font-style: normal;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content:hover h3 {
    top: 38%;
    transition: all linear 0.3s;
}

#index-team .team-member-slider .memberImages .member-img .memeber__content:hover p {
    bottom: 20%;
    transition: all linear 0.3s;
}

#index-team .team-member-slider .memberImages img {
    height: 100%;
    margin: 0 auto;
}

#index-team .team-member-slider .membersDetails {
    text-align: center;
    padding-top: 27px;
}

#index-team .team-member-slider .membersDetails .memberItem {
    float: left;
    text-align: center;
}

#index-team .team-member-slider .membersDetails .memberItem h5 {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #5a67b2;
    padding-bottom: 8px;
}

#index-team .team-member-slider .membersDetails .memberItem p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #5a67b2;
    padding-bottom: 65px;
}

#index-team .m-btn {
    padding: 0px 13px 0 50px;
    position: relative;
    font-size: 18px;
    -webkit-transition: all linear 0.3s 0s;
    -moz-transition: all linear 0.3s 0s;
    -o-transition: all linear 0.3s 0s;
    transition: all linear 0.3s 0s;
    background-color: #5a67b2;
    padding: 10px 15px;
}

#index-team .m-btn span {
    padding-left: 35px;
    color: white;
}

#index-team .m-btn i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 30px;
    display: inline-block;
    line-height: 40px;
    background-color: transparent;
    color: white;
    -webkit-transition: all linear 0.3s 0s;
    -moz-transition: all linear 0.3s 0s;
    -o-transition: all linear 0.3s 0s;
    transition: all linear 0.3s 0s;
}

#index-team .m-btn:hover {
    border-radius: 10px;
}

#index-team .modal-dialog {
    max-width: 70%;
}

#index-team .modal-dialog .modal-content {
    border-radius: 15px;
    padding: 0px 50px;
}

#index-team .modal {
    background: #00000036;
}

#index-team .modal .modal-header {
    padding: 0;
    padding-top: 25px;
    border-bottom: 0px;
}

#index-team .modal .modal-body .team_user_avata {
    padding: 20px 0px 20px 120px;
    position: relative;
}

#index-team .modal .modal-body .team_user_avata img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0px;
}

#index-team .modal .modal-body .team_user_avata h3 {
    text-align: left;
    font-size: 27px;
    font-style: normal;

}

#index-team .modal .modal-body .team_user_avata h4 {
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
}

#index-team .modal .modal-body p {
    padding-top: 25px;
}

#index-team .modal .modal-body i {
    background: #e9e9e9;
    padding: 10px;
    border-radius: 50%;
}

/*  ============================
          core team part end
  ============================ */




/*  ============================
          responsiveness part end
  ============================ */





/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .banner .content {
        background-image: url(../images/biostealth.gif);
    }

    .banner .content h2 {
        padding: 325px 30px;
        font-size: 45px;
    }

    .live .main p {
        font-size: 23px;
        padding: 30px 30px;
    }

    .live .main h2 {
        font-size: 104px;
    }

    .live .main h5 {
        font-size: 19px;
    }

    .touchable .content {
        padding: 100px 0;
        text-align: center;
    }

    .touchable .content p {
        font-size: 18px;
        padding: 15px 30px;
    }

    .touchable .touchable_image {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .touchable .touchable_image img {
        width: 80%;
        padding-top: 70px;
    }

    .touchable {
        background-image: none;
        background: #e9fae7;
    }

    .usability {
        padding: 50px 0;
    }

    .usability .main {
        display: block;
    }

    .usability .usability_content h2 {
        text-align: center;
        padding: 40px 0;
    }

    .usability .usability_bottom {
        margin-top: 25px;
    }

    .usability2 .usability_bottom {
        margin-top: 25px;
    }

    .usability .usability_content p {
        padding: 20px 30px;
        font-size: 23px;
        margin: 0 30px;
    }

    .usability2 .usability_content p {
        padding: 20px 30px;
        font-size: 23px;
        margin: 0 30px;
    }

    .usability2 {
        padding: 80px 0 80px 0;
    }

    .usability2 .usability_content .ext {
        left: 74%;
        top: -98px;
        text-align: left;
        font-size: 30px;
    }

    .usability2 .usability_content span {
        color: rgb(89 103 178);
        font-size: 42px;
        font-weight: 600;
    }

    .usability2 .usability_content .parent {
        text-align: center;
    }

    .usability2 .main {
        display: block;
    }

    .usability .usability_bottom h3 {
        padding-left: 20px;
        font-size: 15px;
    }

    .usability2 .usability_bottom h3 {
        font-size: 15px;
    }

    .usability .main .right {
        width: 100%;
        padding: 20px;
    }

    .usability2 .main .right {
        width: 100%;
        padding: 20px;
    }

    .usability .main .left {
        padding: 40px;
    }

    .usability2 .main .left {
        padding: 40px;
    }

    .commited .one h3 {
        font-size: 23px;
        padding: 0 20px 40px 20px;
    }

    .commited .main .two {
        font-size: 17px;
        margin: 20px;
    }

    .commited .contents {
        margin: 0;
    }

    .commited .main .two i {
        height: 80px;
        width: 80px;
        line-height: 80px;
    }

    .partners {
        padding: 60px 30px;
    }

    .live .main h4 {
        margin-top: 30px;
        padding: 30px 20px;
        font-size: 23px;
        line-height: 40px;
    }

    .live .main {
        padding: 80px 0;
    }

    .live {
        background-image: none;
    }


    .footer h6 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .footer .mark2 {
        width: 94%;
    }

    .footer .links ul li {
        font-size: 15px;
    }

    .footer {
        padding: 70px 30px 70px 30px;
        background-color: #5E6AA7;
    }

    .footer .links ul li a {
        color: white;
        transition: all linear 0.4s;
        font-size: 13px;
    }

    /* about page css starts from here */


    #index-team .modal-dialog {
        max-width: 100%;
    }

    .about_banner {
        height: 308px;
    }

    .about_founder .container p {
        font-size: 21px;
    }

    .about_founder .content {
        padding: 85px 50px;
    }




}

/* // small tablet devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .live {
        background: none;
    }

    .live .main {
        padding: 80px 0;
    }

    .live .main h4 {
        font-size: 30px;
        line-height: 49px;
        padding: 15px;
        margin: 38px 0;
    }

    .live .main p {
        font-size: 25px;
        padding: 0px;
    }

    .touchable {
        background-color: #e9fae7;
    }

    .touchable .content {
        padding: 100px 0 200px 0;
        text-align: center;
    }

    .touchable .content p {
        font-size: 19px;
        padding: 15px 0;
    }

    .touchable .touchable_image img {
        width: 100%;
        margin-top: 35px;
    }

    .usability {
        padding: 50px 0;
    }

    .usability .main {
        display: block;
    }

    .usability .usability_content h2 {
        text-align: center;
        padding: 40px 0;
    }

    .usability .usability_bottom {
        margin-top: 25px;
    }

    .usability2 .usability_bottom {
        margin-top: 25px;
    }

    .usability .usability_content p {
        padding: 20px 30px;
        font-size: 23px;
    }

    .usability2 .usability_content p {
        padding: 20px 30px;
        font-size: 23px;
        margin: 0 30px;
    }

    .usability2 {
        padding: 80px 0 80px 0;
    }

    .usability2 .usability_content .ext {
        left: 74%;
        top: -98px;
        text-align: left;
        font-size: 30px;
    }

    .usability2 .usability_content span {
        color: rgb(89 103 178);
        font-size: 42px;
        font-weight: 600;
    }

    .usability2 .usability_content .parent {
        text-align: center;
    }

    .usability2 .main {
        display: block;
    }

    .usability .usability_bottom h3 {
        padding-left: 20px;
        font-size: 24px;
    }

    .usability2 .usability_bottom h3 {
        font-size: 24px;
    }

    .usability .main .right {
        width: 100%;
        padding: 20px;
    }

    .usability2 .main .right {
        width: 100%;
        padding: 20px;
    }

    .commited .one h3 {
        font-size: 29px;
        padding-bottom: 0;
    }

    .commited .main .two {
        padding: 25px 10px;
        margin: 30px 0;
    }

    .commited {
        padding: 60px 0 30px 0;
    }

    .partners {
        padding: 90px 0;
    }

    .footer .links ul li {
        font-size: 19px;
    }

    .footer {
        padding: 70px 0px 85px 0;
    }

    .about_founder .container p {
        font-size: 26px;
    }

    .about_founder .content {
        padding: 90px 50px;
    }

    .footer .links ul li a {
        color: white;
        transition: all linear 0.4s;
        font-size: 16px;
    }
}

/* // medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 750px;
    }

    .live .main h2 {
        font-size: 85px;
    }

    .live .main h5 {
        font-size: 15px;
    }

    .live .main h4 {
        font-size: 21px;
        line-height: 35px;
    }

    .live .main p {
        font-size: 20px;
    }

    .live .main {
        padding: 60px 0;
    }

    .touchable {
        background-image: none;
        background-color: #e9fae7;
    }

    .touchable .content {
        padding: 100px 0;
    }

    .touchable .content p {
        font-size: 20px;
    }

    .touchable .touchable_image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .touchable .touchable_image img {
        width: 70%;
        padding-top: 110px;
        padding-bottom: 45px;
    }

    .usability .usability_content p {
        font-size: 20px;
    }

    .usability {
        padding: 100px 0 80px 0;
    }

    .usability2 {
        padding: 50px 0 80px 0;
    }

    .usability .main {
        gap: 30px;
    }

    .usability2 .main {
        gap: 30px;
    }

    .usability2 .usability_content p {
        font-size: 20px;
    }

    .usability .main .right {
        width: 50%;
    }

    .usability .main .left {
        width: 50%;
    }

    .usability2 .main .right {
        width: 50%;
    }

    .usability2 .main .left {
        width: 50%;
    }

    .usability .usability_content h2 {
        font-size: 80px;
    }

    .usability2 .usability_content h2 {
        font-size: 80px;
    }

    .usability .usability_bottom h3 {
        padding-left: 75px;
        font-size: 29px;
    }

    .usability2 .usability_content span {
        color: rgb(89 103 178);
        font-size: 52px;
    }

    .usability2 .usability_content .ext {
        left: 53%;
        top: -49px;
        font-size: 30px;
    }

    .usability2 .usability_bottom h3 {
        font-size: 29px;
    }

    .commited .one h3 {
        font-size: 30px;
    }

    .commited .main .two {
        font-size: 16px;
    }

    .commited .main .two h4 {
        font-size: 20px;
    }

    .commited .main .two i {
        margin-top: 15px;
    }

    .commited .main .two p {
        padding-top: 15px;
    }

    .footer {
        padding: 70px 0px 80px 0;
    }

    .footer .links ul li {
        font-size: 20px;
    }

    .about_founder .container p {
        font-size: 29px;
    }



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner .content {
        background-position: center;
    }

    .live .main h5 {
        font-size: 23px;
    }

    .live .main h4 {
        font-size: 28px;
        line-height: 47px;
    }

    .live .main {
        padding: 90px 0;
    }

    .touchable .content p {
        font-size: 18px;
    }

    .touchable .touchable_image img {
        height: 98%;
    }

    .touchable .content {
        padding: 100px 0;
    }

    .usability .main .right {
        width: 50%;
    }

    .usability .main .left {
        width: 50%;
    }

    .usability .usability_content p {
        font-size: 26px;
    }

    .usability2 .usability_content p {
        font-size: 26px;
    }

    .usability .usability_content h2 {
        font-size: 92px;
    }

    .usability2 .usability_content h2 {
        font-size: 92px;
    }

    .usability .usability_bottom h3 {
        font-size: 36px;
    }

    .usability2 .usability_bottom h3 {
        font-size: 36px;
    }

    .usability2 .usability_content .ext {
        left: 75%;
        top: -66px;
        font-size: 30px;
    }

    .usability2 .usability_content span {
        font-size: 59px;
    }

    .usability {
        padding: 90px 0 80px 0;
    }

    .usability2 {
        padding: 35px 0 80px 0;
    }

    .usability .usability_bottom {
        margin-top: 100px;
    }

    .usability2 .usability_bottom {
        margin-top: 100px;
    }

    .commited .one h3 {
        font-size: 31px;
    }

    .commited .main .two {
        font-size: 17px;
    }

    .footer .links ul li {
        font-size: 22px;
    }

    .footer {
        padding: 70px 0px 120px 0;
    }

    .about_founder .container p {
        font-size: 36px;
        line-height: 60px;
        text-align: center;
    }

    .about_founder .content {
        padding: 110px 50px;
    }

}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) and (max-width: 1499.98px) {
    .banner .content {
        background-position: right;
    }

    .usability .usability_bottom h3 {
        font-size: 45px;
    }

    .usability2 .usability_bottom h3 {
        font-size: 45px;
    }

    .footer {
        padding: 70px 0px 70px 0;
    }

    .footer .links {
        padding-top: 100px;
        padding: 100px 20px 0 20px;
    }

    .about_founder .container p {
        font-size: 32px;
    }

    .about_founder .content {
        padding: 110px 50px;
    }

}

@media (min-width: 1500px) and (max-width: 1959.98px) {
    .container {
        max-width: 1230px;
    }

    .banner .content {
        background-position: right;
    }

    .commited .main .two h4 {
        font-size: 33px;
    }

    .commited .main .two {
        font-size: 22px;
    }

}




@media only screen and (min-width: 1960px) {
    .container {
        max-width: 1450px
    }

    .menu nav ul li a {
        font-size: 17px;
    }

    .banner .content {
        height: 95vh;
    }

    .banner .content h2 {
        font-size: 66px;
    }

    .live .main h2 {
        font-size: 199px;
    }

    .live .main h5 {
        font-size: 38px;
    }

    .live .main h4 {
        font-size: 46px;
        line-height: 71px;
        padding: 15px;
    }

    .live .main p {
        font-size: 40px;
    }


    .touchable .content p {
        font-size: 26px;
    }

    .touchable .content h6 {
        font-size: 21px;
    }

    .touchable .content {
        padding: 239px 0;
    }

    .usability .usability_content h2 {
        font-size: 180px;
    }

    .usability .usability_content p {
        font-size: 40px;
    }

    .usability2 .usability_content p {
        font-size: 40px;
    }

    .usability2 .usability_content h2 {
        font-size: 180px;
    }

    .commited .main .two h4 {
        font-size: 40px;
    }

    .usability2 .usability_content .ext {
        left: 81%;
    }



}


@media only screen and (min-width: 2560px) {
    .container {
        max-width: 1800px
    }

    .menu nav ul li a {
        font-size: 22px;
    }

    .banner .content {
        height: 90vh;
    }

    .banner .content h2 {
        font-size: 79px;
    }

    .live .main {
        padding: 160px 0;
    }

    .live .main h2 {
        font-size: 250px;
    }

    .live .main h5 {
        font-size: 48px;
    }

    .live .main h4 {
        font-size: 61px;
        line-height: 81px;
    }

    .live .main p {
        font-size: 50px;
    }

    .live .main .one span {
        font-size: 47px;
    }

    .live .main h4 {
        font-size: 57px;
        padding: 20px;
    }

    .touchable .content {
        padding: 300px 0;
    }

    .touchable .content h2 {
        font-size: 45px;
    }

    .touchable .content p {
        font-size: 32px;
    }

    .touchable .content h6 {
        font-size: 22px;
    }

    .usability .usability_content h2 {
        font-size: 210px;
    }

    .usability2 .usability_content h2 {
        font-size: 210px;
    }

    .usability .usability_content p {
        font-size: 47px;
    }

    .usability2 .usability_content p {
        font-size: 47px;
    }

    .usability2 .usability_content .ext {
        right: 0;
    }

    .commited .main .two p {
        font-size: 27px;
    }

    .commited .main .two {
        padding: 25px 50px;
    }

    .commited .main .two h4 {
        font-size: 45px;
    }

}